/* mousewheel.css */
@media screen and (min-width:960px) and (max-width:2560px) {
body,html{width:100%;height:100%;overflow-x:hidden;}
/* headBox */
svg{position:absolute;transition:0.3s;}
polygon:hover{stroke:rgba(255,255,255,0);}

#headBox{width: 100vw; 
		 height: 4rem;
		 position:fixed;
		 z-index:1000;
		 position:top;
		 padding-top:30px;
		 background-color:#fff;}

#headBox>h1{color:#fff;
			font-family:sans-serif;
			font-weight:100;
			font-size:1.2rem;
			float:left;
			margin-left:12.95833333vw;
			color:#424242;}

#headBox>h2{width:auto;
			height:2rem;
			float:left;
			margin-left:16.75vw;}

#headBox>h2>a{	display:block;
				float:left;
				color:#424242;
				font-family:'Lato', sans-serif;
				font-weight:100;
				font-size:1.2rem;
				cursor:pointer;}			
#headBox>h2>a:nth-of-type(1){margin-left:0}
#headBox>h2>a{margin-left:4.6875vw;transition:0.3s;}
#headBox>h2>a:hover{font-size:1.4rem;font-weight:bold;}
#headBox>h2>a:nth-of-type(1){font-weight:bold;font-size:1.4rem;transition:0.3s;}
#headBox>h2>a:nth-of-type(1):hover{font-size:1.2rem;}




#addBox{width: 100vw; 
		height: 100%;
		display:none;
		background-color:#fff;
		background-repeat:no-repeat;
		position:relative;}
		
		svg.addBox_svg{top:50%;left:50%;margin-left:-300px;margin-top:-250px;transition:0.3s;width:1000px;height:600px;}

		img.main_font{width:100%;height:105%;position:absolute;}

/*content*/

#content{width: 100vw; 
		 height:45vw;
		 background-image:url("../../svg/contact960.jpg");
		 background-repeat:no-repeat;
		 background-size:100%;
		 background-position:0 0;}
#content>.content_hideBox{
		 display:none; 
		 width:100vw;
		 height:100%;
		 background-image:url("../../svg/resume_background_03.jpg");
		 background-repeat:no-repeat;
		 background-position:center;
		 background-size:cover;}

#content>h2{width:auto;
		    height:auto;
		    font-size:3rem;
		    margin-left:26.458333vw;
		    padding-top:9.375vw;
		    box-sizing:border-box;}
#content>h2:hover{transform:scale(1.2);}
#content>img{width:auto;height:auto;}

/*#resume*/


#resume{display:none;
		width: 100vw; 
		height: 100%;}
.resume_hideBox{
				width:100vw;
				height:100%;
				background-image:url("../../svg/resume_background_04.svg");
				background-repeat:no-repeat;
				background-position:center;
				background-size:cover;}
#resume .resumeBigbox{width:auto;height:auto;margin-left:2.4166667vw;}
#resume .resumeBigbox>div{float:left;margin-top:160px;}

#resume .resumeBigbox>div{display:none;
				width:20.833333vw;
			  	min-width:300px;
			  	border:1px solid #efefef;
			  	background-image:no-repeat;
			  	background-size:cover;
			  	background-position:center;}

#resume .resumeBigbox>div:nth-of-type(1){
			height:33.333333vw;
			min-height:520px;
			background-color:#fa0;
			background-image:url("../../svg/resume_01.jpg");}
#resume .resumeBigbox>div:nth-of-type(2){
			height:33.333333vw;
			min-height:520px;
			background-color:#afc;
			margin-left:40px;
			background-image:url("../../svg/resume_02.jpg");}

#resume button.zoom_in{
			   margin-top:200px;
			   margin-left:8.25vw;
			   background-color:#fff;
			   padding:10px 0 10px;
			   transition:0.3s;}
#resume button.zoom_in>p{
			   display:none;
			   font-size:3rem;
			   font-family:'Lato',sans-serif;
			   color:#424242;}
#resume button.zoom_in>p>span{
			   margin-left:20px;
			   font-size:1rem;
			   font-family:'Lato',sans-serif;
			   color:#424242;
			   animation-name:click;
			   animation-duration:1.5s;
			   animation-timing-function:linear;
			   animation-iteration-count:infinite;
			   animation-direction:alternate;}
@keyframes click{
	0%{transform:scale(1.2);color:#efefef;}
	50%{transform:scale(1);color:#424242;}
	100%{transform:scale(0.8);color:#efefef;}
}



#resume button:hover{transform:scale(1.05);}


/* popupBox  */

.popupBox{display:none;position:fixed;background-color:rgba(16,16,17,0.92);width:100vw;height:100%;z-index:1500;top:0;left:0;background-size:cover;}

.popupBox>div{width:40%;height:90%;float:left;margin-top:2.5%;margin-left:5%;background-repeat:no-repeat;background-position:center;}
.popupBox>div:nth-of-type(1){background-image:url("../../svg/resume_01.jpg");}
.popupBox>div:nth-of-type(2){background-image:url("../../svg/resume_02.jpg");}

/*.close */

	button.close{width:3.125vw;height:3.125vw;position:fixed;
				top:0;right:0;margin-top:2.625rem;
				 margin-right:4.3333333vw;transform:rotate(45deg);transition:all 0.3s;background-color:transparent;}

	button.close::after{content:"";display:block;width:0.20833333333vw;height:3.125vw;background-color:#fff;
						position:absolute;left:50%;top:0;z-index:500;margin-left:-0.104166666667vw;}

	button.close::before{content:"";display:block;width:3.125vw;height:0.2083333333vw;background-color:#fff;
						 position:absolute;top:50%;left:50%;margin-left:-1.5625vw;margin-top:-0.2083333333vw;}
	button.close:hover{transform:rotate(90deg);}




#fnb{width: 100vw; height: 100%; background-color: #07e;}
#footBox{width: 100vw; height: 100%; background-color: #a8c;}
