/* scroll_page_01.html */

/*article -----------------------------------------------*/

	.content{width: 100%; height: auto; position:relative;background-color:#101010;}
	#windowBox{width:100vw;height:100vh;overflow-y:hidden;background-color:#101010;}
	#articleBox{width:100vw;height:500vh;overflow-y:hidden;margin-top:0;background-color:#101010;}

	article{width: 100vw; height:100vh;}

	#articleBox>article{background-size:cover;background-position:center;background-repeat:no-repeat;}
	#mainBox{display:none;background-image:url("../../img/background/main_bg.jpg");}
	#bodyBox{display:block;background-image:url("../../img/background/body_bg.jpg");}
	#elecBox{display:block;background-image:url("../../img/background/neck_bg.jpg");}
	#neckBox{display:block;background-image:url("../../img/background/elect_bg.jpg");}
	#hardBox{display:block;background-color:#101010;}


/*fixed area -------------------------------------------*/

/* snb */
	
	#snb>ul{width:4.166666667vw;height:200px;position:fixed;z-index:1500;right:1.133456vw;top:50%;margin-top:-6.25rem;}

	#snb>ul>li{width:0.820833vw;height:0.8208 33vw;border-radius:50%;background-color:#fff;
			   margin-top:2.25rem;display:none;transition:all 0.3s;cursor:pointer;}
	
	#snb>ul>li:first-child{margin-top:0;}
	#snb>ul>li:hover{transform:scale(1.4);background-color:#c20c0c;}
	#snb>ul>li>a{width:0.520833vw;height:0.520833vw;display:block;cursor:pointer;}

/*guitarBox*/
	
	.bg_box{width:auto;height:100%;}
	.bg_box>img{width:auto;height: 100%; display:none;}
		
		img.front{left:50%;transition:0.1s;top:15%;position:fixed;margin-left:10%;z-index:400;}
		img.back{left:50%;top:20%;position:fixed;margin-left:20%;z-index:300;}

/*article area ------------------------------------*/


/*mainBox */
	
	#mainBox{background-position:left;background-repeat:no-repeat;}
	#mainWrap{height:31.25rem;width:36.25rem;position:absolute;}

	#mainTitleBox{width:30vw;height:18.33333333vw;position:absolute;top:20%;left:6%;margin-left:11.458333333vw;
				  background-image:url("../../img/title/svg/main.svg");background-repeat:no-repeat;
				  background-size:contain;background-position:center;display:none;}
/*mainColor_box-*/

	#mainColorBox{width:35%;height:4rem;position:absolute;top:65%;left:10%;}
	
	#mainColorBox>div{width:2.91666666vw;min-width:2rem;height:2.916666666vw;min-height:2rem;background-repeat:no-repeat;
					  background-position:center;transition:all 0.5s;display:none;cursor:pointer;
					  background-size:contain;position:absolute;z-index:1000;}
	#mainColorBox>div:nth-of-type(1){background-image:url("../../img/g_red.png");left:100%;}
	#mainColorBox>div:nth-of-type(2){background-image:url("../../img/g_blue.png");left:75%;}
	#mainColorBox>div:nth-of-type(3){background-image:url("../../img/g_black.png");left:50%;}
	#mainColorBox>div:nth-of-type(4){background-image:url("../../img/g_brown.png");left:25%;}
	
	#mainColorBox>div:hover{transform:scale(1.2);}





/*aboutBox ----------------------------------------*/

#hardBox{position:fixed;
		 margin-top:100vh;
		 z-index:500;
		 top:0;
		 left:0;
		 width:100%;
		 height:100vh;}
	
/*aboutTitleBox ------------------------------------*/
	#hardwareBox{width:70%;
		     	height:40%; 
		     	margin-top:60px;
		     	background-repeat:no-repeat;
			 	background-image:url("../../img/title/svg/test_1.svg"); 
			 	background-size:contain;
			 	margin-left:20%;
			 	margin-top:6.25rem;}
	
/*aboutTextBox ------------------------------------*/

  #hardTextBox{width:80%; 
  			  height:50%; 
  			  margin-top:5%;
  			  margin-left:17%;}
  
  #hardTextBox>div{width:25%;
  				  height:4.6875vw; 
  				  float: left;
  				  margin-right:5rem}

  #hardTextBox>div:nth-of-type(3){margin-right: 0;}
  #hardTextBox>div:nth-of-type(4), #hardTextBox>dl:nth-of-type(5){margin-top:1.25rem;}
  #hardTextBox>div>img{width:2.604166vw; 
  					  height:2.604166vw; 
  					  margin-right:2.1875rem; 
  					  float: left;}
  #hardTextBox>div>span{color:#fff;font-size:1.746434vw;}
  #hardTextBox>div>p{margin-top:0.3125rem;font-size:1vw;padding-left:3.4375rem; box-sizing: border-box;}

